mas-crm/force-app/main/default/flows/Auto_Assign_Engineer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>v_MinimumDistance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>engineerDistanceCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>v_NearestEngineerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Nearest_Engineer.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Nearest_Engineer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DecisionForEngineerAssignment</name>
        <label>DecisionForEngineerAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Find_Nearest_Engineer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FoundEngineer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>engineerDistanceCalculation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>v_MinimumDistance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>FoundEngineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionForRequiredSkill</name>
        <label>DecisionForRequiredSkill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Find_Nearest_Engineer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RequiredSkillPresent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Nearest_Engineer.Skills__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Required_Skill__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DecisionForEngineerAssignment</targetReference>
            </connector>
            <label>RequiredSkillPresent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>engineerDistanceCalculation</name>
        <dataType>Number</dataType>
        <expression>
            DISTANCE(GEOLOCATION({!$Record.Customer_Location__Latitude__s},{!$Record.Customer_Location__Longitude__s}),GEOLOCATION({!Find_Nearest_Engineer.Location__Latitude__s},{!Find_Nearest_Engineer.Location__Longitude__s}),&apos;km&apos;)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Auto-Assign Engineer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto-Assign Engineer: With Skill checking</label>
    <loops>
        <name>Find_Nearest_Engineer</name>
        <label>Find Nearest Engineer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Available_Engineers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DecisionForRequiredSkill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Service_Case_with_Assigned_Engineer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Engineers</name>
        <label>Get Available Engineers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Nearest_Engineer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engineer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Case_with_Assigned_Engineer</name>
        <label>Update Service Case with Assigned Engineer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Engineer_Assigned__c</field>
            <value>
                <elementReference>v_NearestEngineerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Engineers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>Engineer_Assigned__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Assigned_Agent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Service_Case__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>v_MinimumDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>99999.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_NearestEngineerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>