mas-crm/force-app/main/default/flows/Auto_Assign_Engineer_Try2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Engineer_Assigned__r.Engineer_Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>New Service Case Assigned - {!$Record.Name}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;Hello {!$Record.Engineer_Assigned__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A new service case has been assigned to you.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Case ID: {!$Record.Name}&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Customer: {!$Record.Customer_Name__c}&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Product: {!$Record.Registered_Product__r.Name}&amp;nbsp;&amp;nbsp;&lt;/p&gt;&lt;p&gt;Address: {!$Record.Customer_Address__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>attachmentIdCollection</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Check_Assignment</name>
        <label>Check Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>closestDistance</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>distanceCalculation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>closestEngineerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Engineers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Engineers</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision2</name>
        <label>Check Distance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Engineers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>distanceCalculation</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>closestDistance</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Assignment</targetReference>
            </connector>
            <label>Check for Closest Engineer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_1</name>
        <label>Check Skill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Engineers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assignment_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Engineers.Skills__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Required_Skill__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision2</targetReference>
            </connector>
            <label>Assignment Decision</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>distanceCalculation</name>
        <dataType>Number</dataType>
        <expression>ABS({!$Record.Customer_Location__Latitude__s} - {!Loop_Engineers.Location__Latitude__s})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Auto Assign Engineer Try2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Assign Engineer Try2 with Skill matching</label>
    <loops>
        <name>Loop_Engineers</name>
        <label>Loop Engineers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Available_Engineers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Updating_the_Engineer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Available_Engineers</name>
        <label>Get Available Engineers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Engineers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Available__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Engineer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_the_Engineer</name>
        <label>Update Service Case With Engineer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Engineer_Assigned__c</field>
            <value>
                <elementReference>closestEngineerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Available_Engineers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <object>Service_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>closestDistance</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>99999.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>closestEngineerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
