mas-crm/force-app/main/default/flows/SetSLA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>SetHigh</name>
        <label>SetHigh</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>high</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetLow</name>
        <label>SetLow</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>low</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>SetMedium</name>
        <label>SetMedium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.SLA_Deadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>medium</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Priority_Decision</name>
        <label>Priority Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>High_Priority</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>High</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHigh</targetReference>
            </connector>
            <label>High Priority</label>
        </rules>
        <rules>
            <name>Medium_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMedium</targetReference>
            </connector>
            <label>Medium Priority</label>
        </rules>
        <rules>
            <name>Low_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Priority__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Low</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLow</targetReference>
            </connector>
            <label>Low Priority</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>high</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate}+ (1/24*24)</expression>
    </formulas>
    <formulas>
        <name>low</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} +(3/24*24)</expression>
    </formulas>
    <formulas>
        <name>medium</name>
        <dataType>DateTime</dataType>
        <expression>{!$Record.CreatedDate} + (2/24*24)</expression>
    </formulas>
    <interviewLabel>SetSLA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetSLA</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Priority_Decision</targetReference>
        </connector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>SLA_Deadline__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Service_Case__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
