mas-crm/force-app/main/default/flows/SetWarrantyExpiryDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <assignments>
        <name>Assign_Expiry_Date</name>
        <label>AssignExpiryDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varExpiry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>calexpiry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>setWarrantyExpiryDate</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>calexpiry</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Purchase_Date__c} +365</expression>
    </formulas>
    <interviewLabel>SetWarrantyExpiryDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SetWarrantyExpiryDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>setWarrantyExpiryDate</name>
        <label>setWarrantyExpiryDate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Warranty_Expiry__c</field>
            <value>
                <elementReference>varExpiry</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Expiry_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Warranty_Expiry__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Registered_Product__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varExpiry</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
