mas-crm/force-app/main/default/flows/SLAStatusUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>CheckSLAStatus</name>
        <label>Check SLA Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>UpdateOnTime</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OnTime</defaultConnectorLabel>
        <rules>
            <name>Breached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.SLA_Deadline__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>curr</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Breached</targetReference>
            </connector>
            <label>Breached</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>curr</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>SLAStatusUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SLAStatusUpdate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Breached</name>
        <label>Update Breached</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SLA_Status__c</field>
            <value>
                <stringValue>Breached</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOnTime</name>
        <label>Update On Time</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>SLA_Status__c</field>
            <value>
                <stringValue>On Time</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckSLAStatus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SLA_Deadline__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <object>Service_Case__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-28</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
